
main {
    position: relative; height: 100%; display: flex; flex-direction: row; justify-content: space-between;
    .map-container {
        height: 100%; width: 75%;
        .map-frame {height: 100%; }
        #map {height: 100%; width: 100%;}
    }
    .map-detail {height: calc(100% - 40px); width: calc(25% - 40px); padding: 20px;}
}



