main {position: relative; height: 100vh; display: flex; flex-direction: column; justify-content: space-between;}

.map-container {height: 100%;}

.map-frame {
  border: 1px solid #ccc;
  height: 100%;
}

#map {
  height: 100%;
}