<main>
  <div class="map-container">
    <div id="map"></div>
  </div>
  <div class="map-detail">
    Selected Marker:
    <div style="margin-bottom: 20px; border: 1px solid; padding: 10px;">
    @if (markerSrvc.getSelectedMarker()) {
        <div><b>{{markerSrvc.getSelectedMarker().name}}</b> </div>
        <div>{{markerSrvc.getSelectedMarker().city}}</div>
        <div>+{{markerSrvc.getSelectedMarker().phoneNo}}</div>
        {{markerSrvc.getSelectedMarker().coordinates.lat+','+markerSrvc.getSelectedMarker().coordinates.lng}}
      } @else {
        <i>No Marker Selected</i>
      }
    </div>
    
    <div style="margin-bottom: 20px; border: 1px solid; padding: 10px;">
      New Drop Marker:
      <div>latitude: {{markerSrvc.newDropMarkerLatLng.lat || '-'}}, longitude: {{markerSrvc.newDropMarkerLatLng.lng || '-'}}</div>
      <div>
        @if (markerSrvc.newDropMarkerLatLng.lng && markerSrvc.newDropMarkerLatLng.lat) {
          <input placeholder="type name" [(ngModel)]="name"/>
          <input placeholder="phone no" type="number" [(ngModel)]="phoneNo"/>
          <button (click)="addnew()" [disabled]="!markerSrvc.newDropMarkerLatLng.lng && !markerSrvc.newDropMarkerLatLng.lat">Add New</button>
        } @else {
          <i>Click anyware to mark map</i>
        }
      </div>
    </div>

    <div>
      <button (click)="goTo()">Demo - Go to Point Lang-Lat</button>
    </div>

  </div>
</main>